<div style="padding: 10px !important;padding-top: 177px !important;">
  <div class="row">
    <div class="card col p-3 m-3">
      <div class="ui statistic">
        <div class="label">
          <p>Total Sales per labor hour</p>
        </div>
        <div class="value">
          123333
        </div>
      </div>
    </div>
    <div class="card col p-3 m-3">
      <div class="ui statistic">
        <div class="label">
          <p>Total sales for all dep</p>
        </div>
        <div class="value">
          {{totalSales}}
        </div>
      </div>
    </div>
    <div class="card col p-3 m-3">
      <div class="ui statistic">
        <div class="label">
          <p>Average sales per unit area</p>
        </div>
        <div class="value">
          123333
        </div>
      </div>
    </div>
    <div class="card col p-3 m-3">
      <div class="ui statistic">
        <div class="label">
          <p>Average sales revenue per hour</p>
        </div>
        <div class="value">
          123333
        </div>
      </div>
    </div>
  </div>



  <div class="chart-diplay">
    <div style="width: 100%">
      <canvas id="bar"></canvas>
    </div>

    <!--  <div style="width: 100%">-->
    <!--    <canvas id="bubble"></canvas>-->
    <!--  </div>-->

    <div style="width: 100%">
      <canvas id="doughnut"></canvas>
    </div>

    <div style="width: 100%">
      <canvas id="pie"></canvas>
    </div>
  </div>
</div>
