  <div class="table-align">
    <div class="wrap">
      <div class="search">
        <input type="text" class="searchTerm" [(ngModel)]="search" placeholder="Search for household number">
        <button type="submit" (click)="searchHouseHold(search)" class="searchButton">
          <p class="fa fa-search">Search</p>
        </button>
      </div>
    </div>
  <table id="users">

    <tr>
      <th *ngFor="let col of columns">
        {{col}}
      </th>
    </tr>
    <tr *ngFor="let household of filteredHouseHolds | householdFilter: search">
      <td *ngFor="let col of index">
        {{household[col]}}
      </td>
    </tr>

  </table>
  </div>
