@import url(https://fonts.googleapis.com/css?family=Open+Sans);

h1
{
  text-align: center;
  color: #4CAF50;
}


#users {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#users td, #users th {
  border: 1px solid #ddd;
  padding: 8px;
}

#users tr:nth-child(even){background-color: #f2f2f2;}

#users tr:hover {background-color: #ddd;}

#users th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #124666;
  color: white;
}

.table-align {
  margin: 30px;
  margin-top: 250px !important;
}

body{
  background: #f2f2f2;
  font-family: 'Open Sans', sans-serif;
}

.search {
  width: 100%;
  position: relative;
  display: flex;
}

.searchTerm {
  width: 100%;
  border: 3px solid #124666;
  border-right: none;
  padding: 5px;
  height: 46px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #124666;
}

.searchTerm:focus{
  color: black;
}

.searchButton {
  width: 184px;
  height: 46px;
  border: 1px solid #124666;
  background: #124666;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

/*Resize the wrap to see the search bar change!*/
.wrap{
  width: 30%;
  position: absolute;
  /* top: 50%; */
  left: 17%;
  transform: translate(-50%, -50%);
  padding-bottom: 5%;
}
